
@typeparam T
@inherits FormEditorBase<T>

<FormDisplay Label="@_label" Title="@_title" Note="@_note">
    <select class="form-select"
            @onchange="EditorChangedAsync">
        @foreach (SelectItem<T> item in Items) {
            <option value="@item.Value" selected="@EqualityComparer.Equals(item.Value, _value)" @key="item.Value">@item.Label</option>
        }
    </select>
</FormDisplay>