
@typeparam T
@inherits FormEditorBase<T>

<FormLabel Label="@_label" Note="@_note" Title="@_title" For="@_id">
    <input type="@inputType"
           id="@_id"
           class="form-control @ValidationClass"
           value="@_value"
           placeholder="@_placeholder"
           @onchange="onChangeDelegate!"
           @oninput="onInputDelegate!"
           @ref="editorElement" />
    @if (validationError is not null) {
        <span class="fw-bold text-danger">@validationError</span>
    }
</FormLabel>